Django==1.5
Mezzanine==1.4.3
Pillow==1.7.8
South==0.7.6
bleach==1.2.1
boto==2.8.0
distribute==0.6.31
dj-database-url==0.2.1
django-debug-toolbar==0.9.4
django-storages==1.1.6
filebrowser-safe==0.2.19
grappelli-safe==0.2.13
html5lib==0.95
psycopg2==2.4.6
python-dateutil==1.5
pytz==2012j
raven==3.1.17
requests==1.1.0
wsgiref==0.1.2
django-ckeditor==3.6.2.1
./s3utils
