{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block extra_js %}
{{ block.super }}
<style>/* FIXME MOVE TO SERVER */
    body {
        height: 100%;
    }
    html {
        height: 100%;
    }
    .thumb_wrapper {
        margin: 5px;
    }
    #slider_container {
        position:absolute;
        background-color: rgba(0,0,0,.8);
        height: 100%;
        width: 100%;
        top: 0
        bottom: 0
        left: 0
        right: 0
    }
    .slider_wrapper {
        height: 100%;
        overflow:hidden;
        position: relative;
        padding: 0;
        margin: 0;
        outline: 0;
    }
    .slider {
        vertical-align:baseline;
        position: relative;
        visibility: hidden;
        overflow:hidden;
        height: 100%;
    }
    #slider_main div {
    }
    #slider_main .slider_wrapper {
        height: 100%;
        top: 0;
        bottom: 0;
    }
    #slider_main {
        padding-top: 1em;
        height: 75%;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    #slider_nav {
        height: 20%;
        width: 90px;
        overflow: visible;
    }
    #slider_nav div {
        height: 100%;
    }
    #slider_nav_wrapper {
        overflow: visible;
        height: 100%;
    }
    #slider_nav_wrapper > li {
        width: 90px;
        overflow: hidden;
    }
    .slider li p {
        margin: 0;
    }
    .slider div {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 0;
        top: 0;
        bottom: 0;
        height: 100%;
    }
    .slider_wrapper > li {
        float:left;
        width:100%;
        position: relative;
        margin: 0;
        padding: 0;
        outline: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        list-style-type: none;
        height: 100%;
    }

</style>
{% endblock %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filter|safe }}
{% endeditable %}

<ul class="thumbnails gallery">
{% with page.gallery.images.all as images %}
{% for image in images %}
<li>
    <a class="thumbnail" rel="#image-{{ image.id }}" title="{{ image.description }}" href="{{ MEDIA_URL }}{{ image.file }}">
        <img class="image-overlay-thumb" src="{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}">
    </a>
</li>
{% endfor %}
</ul>

{% endwith %}
{% endblock %}

{% block very_top %}

{% with page.gallery.images.all as images %}

<div id="slider_container">
{# full sized images for slider #}
<div id="slider_main" class="slider" >
<ul id="slider_main_wrapper" class="slider_wrapper">
{% for image in images %}
<li>
    <div id="image-{{ image.id }}" class="image_full" style="background-image: url('{{ MEDIA_URL }}{{  image.file }}');">
        <p>{{ image.description }}</p><p>{{ forloop.counter }} / {{ images|length }}</p>
    </div>
</li>
{% endfor %}
</ul>
</div>

{# thumbnailed sized images for slider nav #}
<div id="slider_nav" class="slider">
<ul id="slider_nav_wrapper" class="slider_wrapper">
{% for image in images %}
<li>
    <div class="thumbwrapper">
    <div id="thumb-image-{{ image.id }}" class="image_nav" style="background-image: url('{{ MEDIA_URL }}{% thumbnail image.file 75 75 %}');">
    </div>
    </div>
</li>
{% endfor %}
</ul>
</div>
</div>

{% endwith %}

<script>//FIXME MOVE TO SERVER
/*
 * Swipe 2.0
 *
 * Brad Birdsall
 * Copyright 2013, MIT License
 *
*/

function Swipe(container, options) {

  "use strict";

  // utilities
  var noop = function() {}; // simple no operation function
  var offloadFn = function(fn) { setTimeout(fn || noop, 0) }; // offload a functions execution
  
  // check browser capabilities
  var browser = {
    addEventListener: !!window.addEventListener,
    touch: ('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch,
    transitions: (function(temp) {
      var props = ['transformProperty', 'WebkitTransform', 'MozTransform', 'OTransform', 'msTransform'];
      for ( var i in props ) if (temp.style[ props[i] ] !== undefined) return true;
      return false;
    })(document.createElement('swipe'))
  };

  // quit if no root element
  if (!container) return;
  var element = container.children[0];
  var slides, slidePos, width;
  options = options || {};
  var index = parseInt(options.startSlide, 10) || 0;
  var speed = options.speed || 300;
  options.continuous = options.continuous !== undefined ? options.continuous : true;

  function setup() {

    // cache slides
    slides = element.children;

    // create an array to store current positions of each slide
    slidePos = new Array(slides.length);

    // determine width of each slide
    width = container.getBoundingClientRect().width || container.offsetWidth;

    element.style.width = (slides.length * width) + 'px';

    // stack elements
    var pos = slides.length;
    while(pos--) {

      var slide = slides[pos];

      slide.style.width = width + 'px';
      slide.setAttribute('data-index', pos);

      if (browser.transitions) {
        slide.style.left = (pos * -width) + 'px';
        move(pos, (index > pos) ? -width * pos 
            : (index < pos ? width * pos : 0), 0);
      }

    }

    if (!browser.transitions) element.style.left = (index * -width) + 'px';

    container.style.visibility = 'visible';

  }

  function prev() {

    if (index) slide(index-1);
    else if (options.continuous) slide(slides.length-1);

  }

  function next() {

    if (index < slides.length - 1) slide(index+1);
    else if (options.continuous) slide(0);

  }

  function slide(to, slideSpeed) {

    // do nothing if already on requested slide
    if (index == to) return;
    
    if (browser.transitions) {

      var diff = Math.abs(index-to) - 1;
      var direction = Math.abs(index-to) / (index-to); // 1:right -1:left

      while (diff--) move((to > index ? to : index) - diff - 1, width * direction, 0);

      move(index, width * direction, slideSpeed || speed);
      move(to, 0, slideSpeed || speed);

    } else {

      animate(index * -width, to * -width, slideSpeed || speed);

    }

    index = to;

    offloadFn(options.callback && options.callback(index, slides[index]));

  }

  function move(index, dist, speed) {

    translate(index, dist, speed);
    slidePos[index] = dist;

  }

  function translate(index, dist, speed) {

        var slide = slides[index];
        var style = slide && slide.style;

        if (!style) return;


        style.webkitTransitionDuration = 
        style.MozTransitionDuration = 
        style.msTransitionDuration = 
        style.OTransitionDuration = 
        style.transitionDuration = speed + 'ms';

        style.webkitTransform = 'translate(' + dist + 'px,0)' + 'translateZ(0)';
        style.msTransform = 
        style.MozTransform = 
        style.OTransform = 'translateX(' + dist + 'px)';

  }

  function animate(from, to, speed) {

    // if not an animation, just reposition
    if (!speed) {
      
      element.style.left = to + 'px';
      return;

    }
    
    var start = +new Date;
    
    var timer = setInterval(function() {

      var timeElap = +new Date - start;
      
      if (timeElap > speed) {

        element.style.left = to + 'px';

        if (delay) begin();

        options.transitionEnd && options.transitionEnd.call(event, index, slides[index]);

        clearInterval(timer);
        return;

      }

      element.style.left = (( (to - from) * (Math.floor((timeElap / speed) * 100) / 100) ) + from) + 'px';

    }, 4);

  }

  // setup auto slideshow
  var delay = options.auto || 0;
  var interval;

  function begin() {

    interval = setTimeout(next, delay);

  }

  function stop() {

    delay = 0;
    clearTimeout(interval);

  }


  // setup initial vars
  var start = {};
  var delta = {};
  var isScrolling;      

  // setup event capturing
  var events = {

    handleEvent: function(event) {

      switch (event.type) {
        case 'touchstart': this.start(event); break;
        case 'touchmove': this.move(event); break;
        case 'touchend': offloadFn(this.end(event)); break;
        case 'webkitTransitionEnd':
        case 'msTransitionEnd':
        case 'oTransitionEnd':
        case 'otransitionend':
        case 'transitionend': offloadFn(this.transitionEnd(event)); break;
        case 'resize': offloadFn(setup.call()); break;
      }

      if (options.stopPropagation) event.stopPropagation();

    },
    start: function(event) {

      var touches = event.touches[0];

      // measure start values
      start = {

        // get initial touch coords
        x: touches.pageX,
        y: touches.pageY,

        // store time to determine touch duration
        time: +new Date

      };
      
      // used for testing first move event
      isScrolling = undefined;

      // reset delta and end measurements
      delta = {};

      // attach touchmove and touchend listeners
      element.addEventListener('touchmove', this, false);
      element.addEventListener('touchend', this, false);

    },
    move: function(event) {

      // ensure swiping with one touch and not pinching
      if ( event.touches.length > 1 || event.scale && event.scale !== 1) return

      if (options.disableScroll) event.preventDefault();

      var touches = event.touches[0];

      // measure change in x and y
      delta = {
        x: touches.pageX - start.x,
        y: touches.pageY - start.y
      }

      // determine if scrolling test has run - one time test
      if ( typeof isScrolling == 'undefined') {
        isScrolling = !!( isScrolling || Math.abs(delta.x) < Math.abs(delta.y) );
      }

      // if user is not trying to scroll vertically
      if (!isScrolling) {

        // prevent native scrolling 
        event.preventDefault();

        // stop slideshow
        stop();

        // increase resistance if first or last slide
        delta.x = 
          delta.x / 
            ( (!index && delta.x > 0               // if first slide and sliding left
              || index == slides.length - 1        // or if last slide and sliding right
              && delta.x < 0                       // and if sliding at all
            ) ?                      
            ( Math.abs(delta.x) / width + 1 )      // determine resistance level
            : 1 );                                 // no resistance if false
        
        // translate 1:1
        translate(index-1, delta.x + slidePos[index-1], 0);
        translate(index, delta.x + slidePos[index], 0);
        translate(index+1, delta.x + slidePos[index+1], 0);

      }

    },
    end: function(event) {

      // measure duration
      var duration = +new Date - start.time;

      // determine if slide attempt triggers next/prev slide
      var isValidSlide = 
            Number(duration) < 250               // if slide duration is less than 250ms
            && Math.abs(delta.x) > 20            // and if slide amt is greater than 20px
            || Math.abs(delta.x) > width/2;      // or if slide amt is greater than half the width

      // determine if slide attempt is past start and end
      var isPastBounds = 
            !index && delta.x > 0                            // if first slide and slide amt is greater than 0
            || index == slides.length - 1 && delta.x < 0;    // or if last slide and slide amt is less than 0
      
      // determine direction of swipe (true:right, false:left)
      var direction = delta.x < 0;

      // if not scrolling vertically
      if (!isScrolling) {

        if (isValidSlide && !isPastBounds) {

          if (direction) {

            move(index-1, -width, 0);
            move(index, slidePos[index]-width, speed);
            move(index+1, slidePos[index+1]-width, speed);
            index += 1;

          } else {

            move(index+1, width, 0);
            move(index, slidePos[index]+width, speed);
            move(index-1, slidePos[index-1]+width, speed);
            index += -1;

          }

          options.callback && options.callback(index, slides[index]);

        } else {

          move(index-1, -width, speed);
          move(index, 0, speed);
          move(index+1, width, speed);

        }

      }

      // kill touchmove and touchend event listeners until touchstart called again
      element.removeEventListener('touchmove', events, false)
      element.removeEventListener('touchend', events, false)

    },
    transitionEnd: function(event) {

      if (parseInt(event.target.getAttribute('data-index'), 10) == index) {
        
        if (delay) begin();

        options.transitionEnd && options.transitionEnd.call(event, index, slides[index]);

      }

    }

  }

  // trigger setup
  setup();

  // start auto slideshow if applicable
  if (delay) begin();


  // add event listeners
  if (browser.addEventListener) {
    
    // set touchstart event on element    
    if (browser.touch) element.addEventListener('touchstart', events, false);

    if (browser.transitions) {
      element.addEventListener('webkitTransitionEnd', events, false);
      element.addEventListener('msTransitionEnd', events, false);
      element.addEventListener('oTransitionEnd', events, false);
      element.addEventListener('otransitionend', events, false);
      element.addEventListener('transitionend', events, false);
    }

    // set resize event on window
    window.addEventListener('resize', events, false);

  } else {

    window.onresize = function () { setup() }; // to play nice with old IE

  }

  // expose the Swipe API
  return {
    setup: function() {

      setup();

    },
    slide: function(to) {
      
      // cancel slideshow
      stop();
      
        //uuughhhh.
        var slide = jQuery(element);
        console.log(element);
        var dist = to * width * -1; 

        slide.css('webkitTransitionDuration', speed + 'ms');
        slide.css('MozTransitionDuration', speed + 'ms');
        slide.css('msTransitionDuration', speed + 'ms');
        slide.css('OTransitionDuration', speed + 'ms');
        slide.css('transitionDuration', speed + 'ms');

        slide.css('webkitTransform', 'translate(' + dist + 'px,0) translateZ(0)');
        slide.css('msTransform', 'translateX(' + dist + 'px)');
        slide.css('MozTransform', 'translateX(' + dist + 'px)');
        slide.css('OTransform', 'translateX(' + dist + 'px)');


    },
    prev: function() {

      // cancel slideshow
      stop();

      prev();

    },
    next: function() {

      // cancel slideshow
      stop();

      next();

    },
    getPos: function() {

      // return current index position
      return index;

    },
    getNumSlides: function() {
      
      // return total number of slides
      return slides.length;
    },
    kill: function() {

      // cancel slideshow
      stop();

      // reset element
      element.style.width = 'auto';
      element.style.left = 0;

      // reset slides
      var pos = slides.length;
      while(pos--) {

        var slide = slides[pos];
        slide.style.width = '100%';
        slide.style.left = 0;

        if (browser.transitions) {
            translate(pos, 0, 0);
        }

      }

      // removed event listeners
      if (browser.addEventListener) {

        // remove current event listeners
        element.removeEventListener('touchstart', events, false);
        element.removeEventListener('webkitTransitionEnd', events, false);
        element.removeEventListener('msTransitionEnd', events, false);
        element.removeEventListener('oTransitionEnd', events, false);
        element.removeEventListener('otransitionend', events, false);
        element.removeEventListener('transitionend', events, false);
        window.removeEventListener('resize', events, false);

      }
      else {

        window.onresize = null;

      }

    }
  }

}


if ( window.jQuery || window.Zepto ) {
  (function($) {
    $.fn.Swipe = function(params) {
      return this.each(function() {
        $(this).data('Swipe', new Swipe($(this)[0], params));
      });
    }
  })( window.jQuery || window.Zepto )
}
</script>
<script>
var main_slider = new Swipe(document.getElementById('slider_main'), {
  speed: 400,
  continuous: false,
  disableScroll: false,
  stopPropagation: false,
});

var nav_slider = new Swipe(document.getElementById('slider_nav'), {
  speed: 400,
  continuous: false,
  disableScroll: false,
  stopPropagation: false,
});
jQuery('#slider_nav').css('padding-left', '45%');
jQuery('#slider_nav_wrapper li').each(function() {
    $(this).click(function() {
        var new_slide = $(this).attr('data-index'); 
        main_slider.slide(new_slide);
        nav_slider.slide(new_slide);
    });
});
main_slider.slide(0);
nav_slider.slide(0);

</script>
{% endblock %}
